.data {
    width: 100%;
    height: 50%
}

.dataBody {
    display: flex;
    flex-wrap: wrap;
}

.transaction {
    list-style-type: none;
    margin: 20px;
    background-color: grey;
    color: #fff;
    border-radius: 6px;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.byMonth {
    list-style-type: none;
}